@import "~normalize.css";
@import "~prismjs/themes/prism.css";
@import "~font-awesome/css/font-awesome.css";

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/* ==========================================================================
   Typo
   ========================================================================== */

html {
    background-color: #f4f7f9;
}

.logo-section {
    padding: 4em 0;
    /*background-color: #2b414d;*/
}

.logo {
    max-width: 800px;
    margin: 0 auto;

    text-align: center;
    /* text on yellow*/
    /*color: #fffce1;*/
    color: #fff;
}

.square {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;

    /* yellow */
    background: #efc75e;
}

.logo h1 {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: .2em .5em;
}

.logo h2 {
    margin-top: .5em;
    font-weight: 400;
    color: rgba(255, 255, 255, .5);
    color: rgba(0, 0, 0, 0.6);
}


/* ==========================================================================
   Sections
   ========================================================================== */

section {
    padding: 2em 0;
}

.section-content {
    max-width: 800px;
    margin: 0 auto;
}

.section-dark {
    background-color: #2b414d;
}

/* ==========================================================================
   Example Blocks
   ========================================================================== */



.example-title {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.9);
}

.example-sheet {
    padding: 1em 2em;

    font-size: 1.5rem;
    border: 1px solid #eee;
    background-color: #fff;
}

.block-outline {

}

.code-example {
    margin: 1rem 0;
    font-size: 1.3rem;
}

.code-example pre {
    border: 1px solid #eee;
}

.code-example h3 {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.75);
    margin: 0;
}

/* old stuff */

article {
    max-width: 660px;
    margin: 0 auto;
}

[contenteditable="true"]:focus {
    background-color: #eee;
}

.iframe-container iframe{
    width: 100%;
    height: 500px;
}


/* ==========================================================================
   Tooltip
   ========================================================================== */

.selection-tip {
    position: absolute;
    color: #eee;
    padding: 2px 5px;
    background: #333;
    border-radius: 5px;
}

.selection-tip button {
    background: none;
    border: none;
    padding: 11px 18px 8px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
}

.selection-tip button:last-child {
    border-right: none;
}

.selection-tip button:hover {
    color: #efc75e;
}


.selection-tip:after /* triangle decoration */
{
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #333;
    content: '';
    position: absolute;
    left: 50%;
    bottom: -8px;
    margin-left: -8px;
}

.selection-tip.top:after
{
    border-top-color: transparent;
    border-bottom: 8px solid #111;
    top: -20px;
    bottom: auto;
}

.selection-tip.left:after
{
    left: 8px;
    margin: 0;
}

.selection-tip.right:after
{
    right: 8px;
    left: auto;
    margin: 0;
}



/* ==========================================================================
   Spellcheck & Highlight
   ========================================================================== */

.spellcheck {
    border-bottom: 2px solid orange;
}

.highlight {
    background: #ecbc3f;
    color: #fff;
    border-radius: 10px;
    padding: 1px 5px;
}


/* ==========================================================================
   Events List
   ========================================================================== */

.events-list {
  margin: 0;
  padding: 0;
}

.events-list .events-list-entry {
  list-style: none;
  margin-bottom: 2px;
  opacity: .6;
  transition: opacity 1s ease-in;
}

.events-list .events-list-entry:last-child {
  margin-bottom: 0;
}


/* Event List Animations */

.events-list .events-enter {
  opacity: 1;
}

.events-list .events-enter.events-enter-active {
  opacity: .99;
}

.events-list .events-leave {
  opacity: .6;
  transition: opacity .4s ease-in;
}

.events-list .events-leave.events-leave-active {
  opacity: .01;
}


/* Event styles */

.event-name {
  display: inline-block;
  padding: 0 10px;
  margin-right: 5px;

  border-radius: 5px;
  font-size: 1rem;
  background: #eab730;
  color: #fff;
  font-weight: 400;
}

.selection {
  display: inline-block;
  background: #b3d4fc;
}

.cursor-position {
  color: #49a345;
}

.cursor-position i {
  display: inline-block;
  width: 1px;
  height: 100%;
  position: relative;
  top: -3px;
  border-right: 2px solid #0c86b1;
  margin-right: 1px;
}

.clipboard-action {
  color: #666;
}

.clipboard-content {
  color: #49a345;
}

/* ==========================================================================
   iFrame
   ========================================================================== */

.iframe-sheet {
    padding: 1em;
    border: 1px solid #eee;
    background-color: #fff;
}

.iframe-example {
    width: 100%;
    min-height: 500px;

    border: 1px solid #ccc;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    box-sizing: border-box;

}

/* ==========================================================================
   Documentation
   ========================================================================== */

.documentation {
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}

.documentation h4 {
    font-size: 1.2rem;
}

.documentation h4 span {
    display: inline-block;
    padding: 3px 10px 2px;
    border-radius: 5px;
    background: #eab730;
    color: #fff;
    font-weight: 400;
}

.documentation pre {
    font-size: 1rem;
}

.edit-example {
    padding: 1em 2em;

    font-size: 1.5rem;
    border: 1px solid #eee;
    background-color: #fff;
}

.cursor {
    display: inline-block;
    width: 1px;
    height: 100%;
    position: relative;
    top: -3px;
    border-right: 2px solid #0c86b1;
    margin-right: 1px;

}


/* ==========================================================================
   Helpers
   ========================================================================== */

.space-after {
    margin-bottom: 5em;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
